<!-- Print the "Home" link and text for link to previous directory(assumed to be given by "navbar.html") 
-->

<span>
    <a href="https://spoilaro.github.io/portfolio-site/">Home</a>
    <a href="https://spoilaro.github.io/portfolio-site/programming">Programming</a>
    <a href="https://spoilaro.github.io/portfolio-site/soft">Soft Skills</a>
    <a href="https://spoilaro.github.io/portfolio-site/projects">Projects</a>
    <span>&#8192;|&#8192;</span>
    <a href="./..">{{ . }}</a>
</span>
